<app-top-panel></app-top-panel>

<div class="article-out-container">
  <div class="article-header">
    <h4 class="article-topic">5 головних інтер’єрних трендів 2023 року</h4>
    <span class="article-date-info"> 30 лист. 2022 р. | 5 хв. читання </span>
  </div>
  <div class="article-in-container">
    <img
      class="article-image"
      src="assets\images\articles\1\Rectangle 158.png"
      alt=""
    />
    <div class="article-text-block">
      <p>
        Будь-які зміни — завжди на краще. Тому оновлення інтер’єру свого житла —
        чудова ідея, яка врятує від сьогоднішнього негативу та оновить
        обстановку, що набридла. Ось головні тренди у дизайні інтер’єру, на які
        варто звернути увагу у прийдешньому 2023 році.
      </p>
    </div>
    <h6 class="article-subtopic">Відтінки зеленого</h6>
    <img
      class="article-image"
      src="assets\images\articles\1\Rectangle 159.png"
      alt=""
    />
    <div class="article-text">
      <p>
        Не знаєте, який колір вибрати для свого житла? Тоді спробуйте зелений
        або його відтінки. Цей колір є провідним у дизайні інтер’єру останні
        кілька років і у 2023 році не збирається здавати свої позиції.
      </p>
    </div>
    <div class="article-outer-quote-container">
      <div class="article-inner-quote-container">
        <div class="article-quote-mark">
          <span>“</span>
        </div>
        <span class="article-quote-text">
          «Коли тенденція демонструє ознаки сталості, вона припиняє бути
          тенденцією і переходить у область класики дизайну»
        </span>
        <span class="article-quote-author">
          Барзілай Фройнд , редакційний директор американського ритейлера
          1stdibs
        </span>
      </div>
    </div>
    <h6 class="article-subtopic text-start">Ремісництво</h6>
    <img
      class="article-image"
      src="assets\images\articles\1\Rectangle 159-5.png"
      alt=""
    />
    <div class="article-text">
      <p>
        Наступного року очікується особливий інтерес до дизайнерських предметів
        ручної роботи. Це можуть бути вази, настільні скульптури, посуд та інші
        речі, що створені місцевими майстрами у етничному стилі.
      </p>
    </div>
    <h6 class="article-subtopic text-start">1980-ті</h6>
    <img
      class="article-image"
      src="assets\images\articles\1\Rectangle 159-2.png"
      alt=""
    />
    <div class="article-text">
      <p>
        Якщо минулого року в інтер’єрі домінувала епоха диско 1970-х років, то
        тепер дизайнери все частіше звертаються до 1980-х. Геометричні форми,
        фруктові мотиви та вузлуваті принти – одні з головних основ стильного
        інтер’єру у 2023-му.
      </p>
    </div>
    <h6 class="article-subtopic text-start">Індивідуалізм та еклектика</h6>
    <img
      class="article-image"
      src="assets\images\articles\1\Rectangle 159-3.png"
      alt=""
    />
    <div class="article-text">
      <p>
        Здається, у 2023 році нам доведеться попрощатися з мінімалізмом. Йому на
        зміну приходить різноманітний інтер’єр, який відображає характер
        мешканців. Дизайнери радять розбавляти свій простір особистими
        предметами «з історією», які мають особливе значення для вас.
      </p>
    </div>

    <div class="article-outer-quote-container">
      <div class="article-inner-quote-container">
        <div class="article-quote-mark">
          <span>“</span>
        </div>
        <span class="article-quote-text">
          «Я бачу рух до ремісничої деталізації та, можливо, більш еклектичний
          підхід до інтер’єрів»
        </span>
        <span class="article-quote-author">
          Брахман Перер, дизайнер інтер’єру для австралійського Vogue
        </span>
      </div>
    </div>
    <h6 class="article-subtopic text-start">Дім=природа</h6>
    <img
      class="article-image"
      src="assets\images\articles\1\Rectangle 159-4.png"
      alt=""
    />
    <div class="article-text">
      <p>
        Біофільний дизайн набирає дедалі більшої популярності. Ідея відчуття
        близькості з природою знайшла своє відображення в інтер’єрі за допомогою
        великих вікон, рослин та використання природних матеріалів.
      </p>
    </div>
    <p class="article-author">Автор статті: Аліна Луговська ISIDER</p>
  </div>
</div>
