<div id="footer-section" class="section">
  <div class="info-column left">
    <div class="info-row"><strong>інформація</strong></div>
    <a href="/terms" class="info-row">авторске право</a>
    <a href="/terms" class="info-row">умови використання</a>
    <a href="/terms" class="info-row">cookie файли</a>
    <a href="/terms" class="info-row">конфіденційність</a>
    <a href="/terms" class="info-row">налаштування</a>
  </div>
  <div class="info-column right">
    <div class="info-row"><strong>контакти</strong></div>
    <a href="/terms" class="info-row">підтримка</a>
    <a href="/terms" class="info-row">карта сайту</a>
    <a href="/terms" class="info-row">FAQ</a>
  </div>
  <div class="info-block">
    <a href="" class="logo-wrapper">
      <div class="logo">
        <img class="logo-image" src="assets\logo\footer-logo.png" alt="" />
        <!-- <img
            class="logo-text"
            src="assets\logo\logo-text-white.svg"
            alt=""
          /> -->
      </div>
    </a>
    <p>
      <strong>Prostoro</strong> — це платформа на якій ми зібрали професіоналів
      в сфері дизайну та архітектури. Тут можна замовити послугу, а також знайти
      нових клієнтів та просувати власний бренд.
    </p>
    <div class="sn-icons">
      <a href="/terms" class="sn-icon">
        <img src="assets\vectors\soc-networks\insta.svg" alt="" />
      </a>
      <a href="/terms" class="sn-icon">
        <img src="assets\vectors\soc-networks\facebook.svg" alt="" />
      </a>
      <a href="/terms" class="sn-icon">
        <img src="assets\vectors\soc-networks\twitter.svg" alt="" />
      </a>
      <a href="/terms" class="sn-icon">
        <img src="assets\vectors\soc-networks\pinterest.svg" alt="" />
      </a>
    </div>
  </div>
  <div class="all-rights-reserved">© 2022 InteriorHub. всі права захищені</div>
  <!-- <div class="languages-block">
    <img src="assets\vectors\lang.svg" alt="" />
    <div
      class="lang-select"
      [ngClass]="{ selected: currentLang == 'ua' }"
      (click)="changeLang('ua')"
    >
      Українська
    </div>
    <div
      class="lang-select"
      [ngClass]="{ selected: currentLang == 'en' }"
      (click)="changeLang('en')"
    >
      English
    </div>
    <div class="lang-select">
      {{'information' | translate}}
    </div>
  </div> -->
</div>
