body.jw-modal-open {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.position-relative {
  position: relative;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.overflow-hidden {
  overflow: hidden;
}