<app-top-panel></app-top-panel>

<div class="article-out-container">
  <div class="article-list-outer-container">
    <div class="article-list-inner-container">
      <ul>
        <li>
          Замініть старі лампи енергозберігаючими. LED-лампи - економічні,
          екологічно безпечні, мають тривалий термін експлуатації. Вони
          дозволяють забезпечити якісне освітлення житла за мінімального
          використання енергоресурсів.
        </li>
        <li>
          Встановіть димери - вимикачі з корисними функціями, що дозволяють
          регулювати яскравість освітлення та економити електроенергію.
        </li>
        <li>
          Використовуйте зональне освітлення. Замість великих люстр частіше
          вмикайте настільні лампи, бра або торшери.
        </li>
      </ul>
    </div>
  </div>
</div>
