<app-top-panel></app-top-panel>
<form class="d-flex" [formGroup]="agencyForm" (ngSubmit)="submitSave()">
  <div class="save-panel-fixed">
    <div class="save-panel-body">
      <button class="btn">Скасувати</button>
      <button id="save-btn" class="btn btn-accent" type="submit">
        Зберегти зміни
      </button>
    </div>
  </div>
  <div class="agency-edit-left-panel">
    <div id="agency-edit-navbar" class="agency-edit-nav-box">
      <a href="#agency-edit-general-block" class="agency-edit-nav-link active"
        >Загальні налаштування</a
      >
      <a href="#agency-edit-password-block" class="agency-edit-nav-link"
        >Пароль</a
      >
      <a href="#agency-edit-notifications-block" class="agency-edit-nav-link"
        >Сповіщення</a
      >
      <a href="#agency-edit-delete-block" class="agency-edit-nav-link"
        >Видалити аккаунт</a
      >
    </div>
  </div>
  <div class="agency-edit-container">
    <div id="agency-edit-general-block" class="agency-edit-block">
      <div class="block-title">
        <span>Загальні налаштування</span>
      </div>
      <label class="control-label" for="agency-name"
        >URL-адреса на Prostoro</label
      >
      <div class="d-flex align-items-center">
        <div class="control-group w-40">
          <div class="d-flex">
            <div class="control-box w-100">
              <input
                formControlName="agencyName"
                class="form-control"
                id="agency-name"
                placeholder=" "
                [value]="agency?.name"
                required
              />
              <div class="validation-icon"></div>
            </div>
          </div>
        </div>
        <button class="btn btn-black m-left-10">Підтвердити</button>
      </div>
    </div>

    <div id="agency-edit-password-block" class="agency-edit-block">
      <div class="block-title">
        <span>Пароль</span>
      </div>
      <div class="control-group m-bottom-20">
        <label class="control-label" for="agency-name">Старий пароль</label>
        <div class="control-box">
          <input
            formControlName="agencyName"
            class="form-control"
            id="agency-name"
            placeholder=" "
            [value]="agency?.name"
            required
          />
          <div class="validation-icon"></div>
        </div>
      </div>
      <div class="control-group m-bottom-20">
        <label class="control-label" for="agency-name">Новий пароль</label>
        <div class="control-box">
          <input
            formControlName="agencyName"
            class="form-control"
            id="agency-name"
            placeholder=" "
            [value]="agency?.name"
            required
          />
          <div class="validation-icon"></div>
        </div>
      </div>
      <button class="btn btn-black">Змінити</button>
    </div>

    <div id="agency-edit-notifications-block" class="agency-edit-block">
      <div class="block-title">
        <span>Сповіщення</span>
      </div>
      <div class="control-group m-bottom-20">
        <div class="control-box">
          <label class="switch-control">
            <input id="email-notifications-switch" type="checkbox"/>
            <span class="switch-slider"></span>
          </label>
          <label class="control-label m-left-10 m-bottom-0" for="email-notifications-switch"
            >Надсилати мені сповіщення на ел. пошту</label
          >
        </div>
      </div>
      <div class="control-group m-bottom-20">
        <div class="control-box">
          <label class="switch-control">
            <input id="desktop-notifications-switch" type="checkbox" />
            <span class="switch-slider"></span>
          </label>
          <label class="control-label m-left-10 m-bottom-0" for="desktop-notifications-switch"
            >Дозволити сповіщення на робочий стіл</label
          >
        </div>
      </div>
      <div class="block-title">
        <span>Сповістіть мене коли:</span>
      </div>
      <div class="control-group">
        <div class="control-box m-bottom-20">
          <label class="checkbox-container"
            >Вхідне пряме повідомлення
            <input type="checkbox" checked="checked" />
            <span class="checkmark">
              <svg>
                <use xlink:href="assets\vectors\icons\like.svg#valid"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="control-box m-bottom-20">
          <label class="checkbox-container"
            >Активність в профілі
            <input type="checkbox" checked="checked" />
            <span class="checkmark">
              <svg>
                <use xlink:href="assets\vectors\icons\like.svg#valid"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="control-box m-bottom-20">
          <label class="checkbox-container"
            >Оновлення продукту Prostoro
            <input type="checkbox" checked="checked" />
            <span class="checkmark">
              <svg>
                <use xlink:href="assets\vectors\icons\like.svg#valid"></use>
              </svg>
            </span>
          </label>
        </div>
        <div class="control-box">
          <label class="checkbox-container"
            >Оголошення та спеціальні пропозиції
            <input type="checkbox" checked="checked" />
            <span class="checkmark">
              <svg>
                <use xlink:href="assets\vectors\icons\like.svg#valid"></use>
              </svg>
            </span>
          </label>
        </div>
      </div>
    </div>

    <div id="agency-edit-delete-block" class="agency-edit-block">
      <div class="block-title">
        <span>Видалити аккаунт</span>
      </div>
      <p>
        Бажаєте видали свій обліковий запис на Prostoro? <br /><br />
        Видалення облікового запису призведе до видалення всього вашого вмісту
        та пов’язаних із ним даних.
      </p>
      <br /><br />
      <div class="delete-account-btn">
        <span>Я хочу видалити свій акаунт</span>
      </div>
    </div>
  </div>
</form>

<app-footer></app-footer>