<app-top-panel></app-top-panel>

<div class="article-out-container">
  <div class="article-header">
    <h4 class="article-topic">
      Невибагливі кімнатні рослини для домашніх джунглів
    </h4>
    <span class="article-date-info"> 12 жовт. 2022 р. | 5 хв. читання </span>
  </div>
  <div class="article-in-container">
    <img class="article-image" src="assets\images\articles\2\Rectangle 158.png" alt="" />
    <div class="article-text">
      <p>
        Коли проводиш 24/7 у квартирі, хочеться затишку та водночас мінімалізму.
        Карантин змусив переглянути ставлення до дому. Кімнатні рослини – це
        хороший варіант освіжити домівку.
      </p>
      <br />
      <p>
        На випадок, якщо всі квіти, з якими ви мали справу раніше, не виживали й
        кількох місяців – редакція The Village Україна запитала в Лєри Галич,
        засновниці «Хай Росте», варіанти кімнатних рослин, які не потребують
        особливого догляду.
      </p>
      <br />
      <p>
        Ці рослини можна пересаджувати один раз на кілька років, вони прекрасно
        живуть в умовах квартир із сухим повітрям, миряться з нерегулярністю
        поливу. Натомість очищують повітря від шкідливих речовин і прикрашають
        наш дім.
      </p>
    </div>
    <div class="article-outer-quote-container">
      <div class="article-inner-quote-container">
        <div class="article-quote-mark">
          <span>“</span>
        </div>
        <span class="article-quote-text">
          «Часто в нас запитують, які гарні, але невибагливі рослини ми можемо
          порекомендувати. Вибір таких рослин досить широкий, серед них
          зустрічаються і квітучі рослини, і декоративно-листяні, тому кожен
          може вибрати вазон на свій смак. Невибагливі рослини поблажливі до
          наших помилок і забудькуватості й майже не потребують особливого
          догляду.»
        </span>
        <span class="article-quote-author">
          Лєра Галич , засновниця магазину рослин «Хай росте»
        </span>
      </div>
    </div>
    <h6 class="article-subtopic">Заміокулькас</h6>
    <img class="article-image" src="assets\images\articles\2\Rectangle 159.png" alt="" />
    <div class="article-text">
      <p>
        На заміокулькас є попит через блискучі бадьорі листочки й витривалість.
        Добре росте за будь-якого освітлення. Чудово переносить сухе повітря і
        сухий ґрунт. Можна сміливо їхати у відпустку на кілька тижнів і з
        рослиною все буде ок.
      </p>
    </div>
    <div class="article-text-block">
      <p>
        ДОГЛЯД: Оберігайте від прямих сонячних променів і надмірних поливів.
      </p>
    </div>

    <h6 class="article-subtopic text-start">Фікус каучуконосний</h6>
    <div class="article-image-container">
      <img class="article-image" src="assets\images\articles\2\Rectangle 159-2.png" alt="" />
      <img class="article-image-2" src="assets\images\articles\2\Rectangle 160.png" alt="" />
    </div>

    <div class="article-text">
      <p>
        Має велике блискуче листя й може вирости досить великим деревцем. Це
        чудовий елемент інтер’єру. Для фікуса підійде яскраве розсіяне
        освітлення або півтінь. Любить, коли йому протирають листочки від пилу.
      </p>
    </div>
    <div class="article-text-block">
      <p>ДОГЛЯД: Потребує помірного поливу (стежте за ґрунтом і поливайте).</p>
    </div>
    <h6 class="article-subtopic text-start">Кактуси та сукуленти</h6>
    <img class="article-image" src="assets\images\articles\2\Rectangle 159-3.png" alt="" />
    <div class="article-text">
      <p>
        Якщо у вас «сонячна сторона» квартири й ви інколи забуваєте поливати
        свої рослини – це найкращий для вас варіант.
      </p>
      <br />
      <p>
        Завдяки здатності накопичувати велику кількість вологи й мінеральних
        речовин, сукуленти не потребують частих поливів і підгодовувань,
        прекрасно переносять сухе повітря. Надзвичайне різноманіття видів і форм
        дасть змогу підібрати рослину на будь-який смак. За гарних умов вони
        тішать своїх власників чудовими квітами.
      </p>
      <br />
      <p>
        Також, сукуленти та кактуси часто мініатюрні, мають невелику кореневу
        систему й повільно ростуть. Тому вони добре підходять тим, хто хоче щось
        невелике.
      </p>
    </div>
    <div class="article-text-block">
      <p>ДОГЛЯД: Поливати раз на 2–3 тижні.</p>
    </div>
    <h6 class="article-subtopic text-start">Традесканція</h6>
    <img class="article-image" src="assets\images\articles\2\Rectangle 159-4.png" alt="" />
    <div class="article-text">
      <p>
        Ця рослина не потребує особливих умов утримання, добре виносить спекотне
        літо й прохолодну зиму. Буде рости в будь-якому місці квартири. Найкраще
        традесканції буде на яскравому світлі без прямих сонячних променів.
        Різноманітність забарвлень листя традесканції настільки велика, що
        будь-яку стіну можна перетворити на витвір мистецтва. Добре буде
        виглядати традесканція в підвісних горщиках, наприклад, на балконах.
      </p>
    </div>
    <div class="article-text-block">
      <p>ДОГЛЯД: Поливати раз на 2–3 тижні.</p>
    </div>

    <h6 class="article-subtopic text-start">Сансев’єрія</h6>
    <div class="article-image-container">
      <img class="article-image" src="assets\images\articles\2\Rectangle 159-5.png" alt="" />
      <img class="article-image-2" src="assets\images\articles\2\Rectangle 160-2.png" alt="" />
    </div>
    <div class="article-text">
      <p>
        Біофільний дизайн набирає дедалі більшої популярності. Ідея відчуття
        близькості з природою знайшла своє відображення в інтер’єрі за допомогою
        великих вікон, рослин та використання природних матеріалів.
      </p>
    </div>
    <div class="article-text-block">
      <p>
        ДОГЛЯД: У теплу пору року сансев’єрію достатньо поливати 1 раз на
        тиждень, взимку – раз на 2–3 тижні
      </p>
    </div>
    <p class="article-author">Автор статті: Маргарита Коваль The Village</p>
  </div>
</div>
